html{
    font-size:20px;
    margin:0;
    padding:0;
}

body{
    background-color:rgb(68, 55, 92);
}

#title{
    text-align:center;
    color:white;
}

#container{
    display:flex;
    flex-flow:wrap;
    background-color:rgb(27, 7, 14);
    margin:5% 20%;
}

.gridBlock{
    flex:1;
    margin:0.1em;
    background-color:rgb(180, 46, 80);
    min-width:0;
}

hr{
    width:100%;
    border:none;
    padding:0;
    margin:0;
}